In [51]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

In [52]:
#import cv
#movies = pd.read_csv()
#movies.shape
####same with user
movies=pd.read_csv("C:\\Users\\User\\Downloads\\movies.csv",usecols=['movieId','title'])
movies.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [53]:
rating=pd.read_csv("C:\\Users\\User\\Downloads\\ratings.csv",usecols=['userId','movieId','rating'])
rating.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [54]:
rating.shape

(100836, 3)

In [55]:
movies.shape

(9742, 2)

In [56]:
movies_users = rating.pivot(index='movieId',columns='userId',values='rating').fillna(0)
movies_users.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
mat_movies = csr_matrix(movies_users.values)
mat_movies

<9724x610 sparse matrix of type '<class 'numpy.float64'>'
	with 100836 stored elements in Compressed Sparse Row format>

In [58]:
model = NearestNeighbors(metric='cosine', algorithm='brute',n_neighbors=20)
model.fit(mat_movies)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [59]:
def recommender (movie_name , data ,n ):
    idx = process.extractOne(movie_name,movies['title'])[2]
    print('Movie Selected : ', movies['title'][idx],' Index : ',idx)
    print('SEARCHING!!!')
    distance , indices = model.kneighbors(data[idx],n_neighbors=n)
    for i in indices :
        print(movies['title'][i].where(i!=idx))

In [60]:
recommender('Waiting to Exhale (1995)',mat_movies,20)

Movie Selected :  Waiting to Exhale (1995)  Index :  3
SEARCHING!!!
3                                                  NaN
100                            Before and After (1996)
282                              Sum of Us, The (1994)
160                                    Reckless (1995)
218                          Jefferson in Paris (1995)
586    Haunted World of Edward D. Wood Jr., The (1996)
187                                   Cure, The (1995)
747                            Nothing Personal (1995)
752                                       Bliss (1997)
209                                       Gordy (1995)
612                         Spirits of the Dead (1968)
294                           Walking Dead, The (1995)
50                                      Georgia (1995)
248                          Nina Takes a Lover (1994)
445                              Poetic Justice (1993)
351                                Federal Hill (1994)
317                         I Like It Like That (1994)
589                                  Last Dance (1996)
269                                  Rent-a-Kid (1995)
169                                Three Wishes (1995)
Name: title, dtype: object